body{
    
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #877f7d;
    color: #fffff8;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}

.holder{

}


#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: #002D62;
    color: #e6e6e6;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 4px;
}

.myInput{
    height: 150px;

}
button{
    
    background:#008CBA;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    width: 200px;
    height: 50px;
    /* margin-bottom: 1em; */
    position: absolute;
    bottom: 2em;
    
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover{
    background: #002D62;
}

h1{
    font-size: 36px;
}

textarea{
    background:#002D62;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 4px;
    

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 